

#AUQuestion{
    background-color:#3e353e99;
    margin-top: 5px;
    margin-bottom: 5px; 
}

#AUQuestText{
    font-weight: bold;
    color: white;
    text-align: center;
}

.AUButton{
    width: 250px;
    padding: 5px;
    margin: 1px;
    color:#333333;
	font-family:Arial;
	font-size:1em;
	font-weight:bold;
    box-shadow:
    inset 0px 5px 5px #ffffff,
    inset 0px 5px 5px #ffffff;
    background: linear-gradient(to bottom, #ffb004, #eeff00);
    border-radius: 7px;
    border: 2px solid #f0a10f;
    display: inline-block;
    cursor: pointer;
}

.AUVideo{
    text-align: center;
    color: #02ab0d;
}
