body, html { width: 100%; height: 100%; margin: 0; padding: 0 }
.row-container {
  display: flex;
  width: 100%; height: 100%;
  flex-direction: column;
  background-color: #222222;
  justify-content: center;
  overflow: hidden;
}
.first-row {
  background-color: black;
}
.second-row {
  align-items: center;
  width: 950px;
  height: 700px;
  border: 16px solid transparent;
  border-image: url(images/border.png) 16 round;
  margin: auto;
}

.footer-row {
  flex-grow: 1;
  border: none;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .row-container {
    overflow: scroll;
  }
  .second-row {
    width: 90%;
    /*width: 90%*/
  }
}