button{
    background-color: yellow;

}
.quizbutton {
    box-shadow:
    inset 0px 5px 5px #ffffff,
    inset 0px 5px 5px #ffffff;
    background: linear-gradient(to bottom, #ffb004, #eeff00);
    border-radius: 7px;
    border: 2px solid #f0a10f;
    display: inline-block;
    cursor: pointer;
	color:#333333;
	font-family:Arial;
	font-size:1em;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;

}
quizbutton:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
quizbutton:active {
	position:relative;
	top:1px;
}

#quiz{
    max-width: 600px;
    min-height: 500px;
    max-height: 950px;
    font-size:  1em;
}

#questText{
    font-size: 1em;
    color: white;
}

#question{
    padding: 5%;
    background-color:rgba(62, 53, 62, 0.6);
    margin-top: 10%;
}

#quizbuttons{
    text-align: center;
    padding-top: 5%;
    font-size: 2em;
}

.backgroundTextStyler{
    background-color:#3e353e99;
    color: white;
}

.quizPosition{
    position:relative;
}
.quizNav{
    position: absolute;
    bottom:0;
    left:0;
    padding-bottom: 5%;  
}

