#standardDrink {
    min-width: 50%;
    max-width: 80%;


}

.optionbtn {
    font-family: DKBabySitter;
    font-weight: bold;
    border: none;
    width: 100%;
    height: 177px;
    margin: 1px;
}

.options {
    display: inline-flex;
    text-align: center;
    border: solid black 3px;
    background-color: rgba(62, 53, 62, 0.6);
    background-image: url("images/OptionShadow.png");
    background-size: 99%;
    background-position: bottom 14% right 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 39%;
    padding-top: 5%;
}

#SDQuestion {
    padding: 2%;
    margin-top: 0%;
    background-color: rgba(62, 53, 62, 0);
}

#SDQuestText {
    font-size: 2em;
    text-align: center;
    font-weight: normal;
    color: black;
}

#SDexplanation {
    opacity: 0;
    display: flex;
}

#SDexpText {
    width: 50%;
    font-size: 1.5em;
    margin: 5% 0% 0% 5%;
    text-align: left;
}


#OptionA {
    background: transparent;
    background: url("images/OptionA.png") center no-repeat;
    background-size: contain;
}

#OptionB {
    background: transparent;
    background: url("images/OptionB.png") center no-repeat;
    background-size: contain;
}

#OptionC {
    background: transparent;
    background: url("images/OptionC.png") center no-repeat;
    background-size: contain;
}

#OptionD {
    background: transparent;
    background: url("images/OptionD.png") center no-repeat;
    background-size: contain;
}

#OptionE {
    background: transparent;
    background: url("images/OptionE.png") center no-repeat;
    background-size: contain;
}

#OptionF {
    background: transparent;
    background: url("images/OptionF.png") center no-repeat;
    background-size: contain;
}

.AnswerImage {
    display: inline-block;
    background: transparent;
    background: url("images/OptionE.png") center no-repeat;
    background-size: contain;
    font-weight: bold;
    border: none;
    height: 140px;
    width: 80px;
    margin-left: 5%;
}

@media only screen and (max-width: 450px) {
    .optionbtn {
        height: 45%;
        width: 25%;
        margin: 2px;
    }

    #SDQuestText {
        font-size: 1.1em;
    }

    #standardDrink {
        height: 100%;
    }

    .options {
        height: 45%;
    }
}